  .App {
  margin: 0 5vw; 
 
} 
 




.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh; 
}

.App-link {
  color: #61dafb;
}

.canvasContainer {
  background-color: #f4f4f4; 
  min-height: 30vh; 
  padding: 2vh 0; 
}


.custom-verticalContainerSteps {
  width: 27vw;
  height: 40vh;
  padding: 3vw;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #98a4b0;
  margin: 0 3vw 0 0;
}

 
.custom-verticalContainerSteps .ant-steps-item-container {
height: 60px; 
}

.participant-details-content {
  display: inline-block;
  vertical-align: top;
  width: 60vw; 
  min-height: 40vh; 
  background-color: rgba(245, 246, 247, 1);
  padding: 2vw;
}

.participant-details-content .ant-input{
  width: 50vw; 
}

input#Name {
  width:20vw; 
  display: inline-block; float: left; 
}

form .ant-select, form .ant-cascader-picker{
  width: 15vw !important;  
  display: inline-block; float: left; 
  margin: 0 20px 0 0; 
}

.ant-input-number{
  width: 15vw !important; 
}


.iconWrraper{
  width: 20vw;
  height: 10vh; 
  position: absolute; 
  right:5vw; 
  line-height: 10vh; ;
  font-size: 18px;
}

.iconWrraper span {
  padding: 0 15px; 
}